<h4>Registro de asistencia</h4>
<form class="row">

  <input type="text" id="docente" class="form-control mb-2" placeholder="Docente">

  <label for="horaInicio">Hora de inicio</label>
  <input type="time" id="horaInicio" class="form-control mb-2" placeholder="Hora de inicio">

  <label for="horaFin">Hora de finalización</label>
  <input type="time" id="horaFin" class="form-control mb-2" placeholder="Hora de finalización">

  <div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" id="aprobadoCoordinador">
    <label class="form-check-label" for="aprobadoCoordinador">
      Aprobado Coordinador
    </label>
  </div>

  <div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" id="aprobadoRector">
    <label class="form-check-label" for="aprobadoRector">
      Aprobado Rector
    </label>
  </div>

  <button type="submit" class="btn btn-primary">
    Enviar
  </button>
</form>
