<div id="mi-fondo">
  <div class="contenido">
    <h1 class="text-center mb-4">Asistenicas de hoy</h1>
    <form class="row g-3">

<table>

<tr>

<th>Nombre</th>
<th>Hora de inicio</th>
<th>Hola de finalizacion</th>

</tr>

<tr>
<td>Andres</td>
<td>9:00</td>
<td>9:00</td>
</tr>
<tr>
<td>Karla</td>
<td>9:00</td>
<td>9:00</td>
</tr>


</table>




      <div class="col-12 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary btn-lg">Aprobar</button>
        <button routerLink="../" class="btn btn-secondary btn-lg">Volver</button>
      </div>
    </form>
  </div>
</div>
